
<head>
    <title>{{ object.title }}</title>
</head>
<body>
    <h1>{{ object.title }}</h1>

    {% if object.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 500px;">
    {% endif %}

    <p>{{ object.description|linebreaksbr }}</p>

    <p><strong>Creado el:</strong> {{ object.created_at }}</p>
    <strong>Última actualización:</strong> {{ object.updated_at }}</p>

    <a href="{% url 'post_list' %}">Volver a la lista de posts</a>
    
    <a href="{% url 'post_update' object.pk %}">Editar</a>
    
</body>
